footer#footer
    div#social
        a.symbol(href='https://github.com/shendadi')
            i.fa.fa-github
    p.small © Copyright 2019 &nbsp;
        i.fa.fa-heart(aria-hidden='true') &nbsp;shendadi
    //p.small Powered by &nbsp;
    //    a(href='https://hexo.io/') Hexo &nbsp;
    //    | Theme By &nbsp;
    //    a(href='https://github.com/shendadi/hexo-theme-dxx') shendadi

